<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>
<body>
    <div id="app">
        <h1> {{ start }}</h1>
        <br>
        <button @click="change()">เปลี่ยนไฟ</button>
    </div>
    
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
               start: 'green',
               id: 0,
               boxColor: [{id:0, color: 'green'},
                        { id:1, color: 'yellow'},
                        { id:2, color: 'red'}]

            },

            methods: {
                change: function () {
                    if (this.id <=1) {
                        this.id = this.id + 1
                        this.start = this.boxColor[this.id].color
                    }else{
                        this.id = this.id-2
                        this.start = this.boxColor[this.id].color

                    }

                },

            },
        })
    </script>
</body>
</html>